<div class="container">
  <h4>Select Hospital </h4>
  <mat-form-field appearance="fill">
    <mat-label>Assigned Group</mat-label>
    <mat-select (selectionChange)="onSelectionChange($event)">
      <mat-option *ngFor="let group of groups" [value]="group.value" > 
        {{group.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="control-section">
    <ejs-schedule #scheduleObj width='100%' height='550px' [eventSettings]="eventSettings" [selectedDate]="selectedDate"
      (navigating)="onNavigating($event)" (actionComplete)="onActionComplete($event)" (cellClick)="onClick($event)">
    </ejs-schedule>
  </div>
  
</div>

